mixin input (props = {})
  -
    const {
      type="text",
      placeholder="",
      value=undefined,
      size="biggest",
      readonly=false,
      ...otherProps
    } = props


    const inputSizes = ['small', "big", "medium", "biggest",]

    const inputSizeClass = inputSizes.includes(size) && `input_size_${size}`
    const readonlyClass = readonly && 'input_readonly'

    const inputAttributes = {
      class: [
        "input",
        'js-input',
        inputSizeClass,
        readonlyClass,
      ],
      type: type,
      placeholder: placeholder,
      value: value,
      readonly: readonly,
      ...otherProps,
    }

  input&attributes(inputAttributes)