mixin text-field(props = {})
  -
    const {
      type="text",
      placeholder="Email",
      value="value",
      size="biggest",
      variant="",
      isFocused=false,
    } = props

  +form-wrapper({
    isFocused: isFocused,
  })
    +input({
      size: size,
      value: value,
      placeholder: placeholder,
      type: type,
    })
    if variant === "subscribtion"
      +button()