extends @/shared/layouts/ui-kit-layout/ui-kit-layout
include @/shared/ui/flex/index
include @/shared/ui/form-wrapper/index
include @/shared/ui/input/index
include @/shared/ui/text-field/index
include @/features/dropdown/index
include @/shared/ui/button/index

block variables
  - const title = 'Form elements'

block style
  link(rel='stylesheet' href=require('@/app/styles/index.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/flex/flex.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/form-wrapper/form-wrapper.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/input/input.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/text-field/text-field.scss'))
  link(rel='stylesheet' href=require('@/features/dropdown/dropdown.scss'))
  link(rel='stylesheet' href=require('@/shared/ui/button/button.scss'))

block content
  +row({
    justify: "center",
    align: "center",
    gap: '20',
  })
    //- +dropdown()
    +button({
      size: 'smallest',
      variant: 'minus',
    })
    +button({
      size: 'smallest',
      variant: 'plus',
    })

block script
  script(src=require("@/features/dropdown/dropdown.js")) 