mixin card(props = {})
  -
    const {
      border="round_smallest",
      theme=undefined,
      isSquare=false,
      variant=undefined,
    } = props

    const themes = [
      "darkest-gray", "dark-gray", "gray",
      "light-gray","lightest-gray",
      "primary", "secondary"
      ]

    const variants = ['widget']

  -
    const borderClass = border === "round_smallest" 
      ? "card_round_smallest" 
      : border === "round_small"
      ? "card_round_small" 
      : border === "round_medium"
      ? "card_round_medium" : ""

    const themeClass = themes.includes(theme) && `card_theme_${theme}`
    const squareClass = 'card_square'
    const variantClass = variants.includes(variant) && `card_variant_${variant}`

    const classes = [borderClass, theme && themeClass, isSquare && squareClass, variantClass]

  .card(class=classes)
    if variant === 'widget'
      block