mixin dropdown(props = {})
  -
    const {
      type="text",
      isFocused=false,
      variant="amenities",
      size="big",
      items=[],
    } = props

    const inputSizes = ["biggest", "big"]

    const inputSizeClass = inputSizes.includes(size) && `dropdown__input_size_${size}`
    const inputValue = variant === 'amenities' ? 'Удобства номера' : 'Сколько гостей'


    const classes = []

  .dropdown.js-dropdown
    +form-wrapper({
      radiusVariant: 'top-radius-smallest',
      additionalClass: 'dropdown__form-wrapper',
    })
      +input({
        readonly: true,
        size: 'medium',
        value: "2 спальни, 2 кровати ..."
      })
      +button-expand()
    ul.dropdown__drop
      each item in items
        +dropdown-item({
          title: item.title,
          value: item.value,
        })