mixin button(props={})
  -
    const {
      variant="arrow-right",
      name="",
      type="",
      size="small"
    } = props

    const mathVariants = ['minus', 'plus']
    const buttonVariants = ['arrow-right', 'expand', ...mathVariants,]
    function makeVariantClass(variant) {
      if(mathVariants.includes(variant)) {
        return `button_variant_math button_variant_math-${variant}`
      }
      return buttonVariants.includes(variant) && `button_variant button_variant_${variant}`
    }
    const variantClass = makeVariantClass(variant)

    const sizes = ['smallest', 'small']
    const sizeClass = sizes.includes(size) && `button_size_${size}`


  button&attributes({
    class: [
      "button",
      'js-button',
      sizeClass,
      variantClass,
    ],
    type: type,
    name: name,
  })

