mixin button(props={})
  -
    const {
      variant="",
      type="",
      size="",
      disabled=false,
      visability=true,
    } = props

    const mathVariants = ['minus', 'plus']
    const buttonVariants = ['arrow-right', 'expand', ...mathVariants,]
    function isMathVariant (variants, variant) {
      return variants.includes(variant)
    }
    function makeVariantClass(variant) {
      if(isMathVariant(mathVariants, variant)) {
        return `button_variant_math button_variant_math-${variant} js-button_variant_math-${variant}`
      }

      return buttonVariants.includes(variant) && `button_variant button_variant_${variant} js-button_variant_${variant}`
    }
    const variantClass = makeVariantClass(variant)

    const sizes = ['smallest', 'small']
    const sizeClass = sizes.includes(size) && `button_size_${size}`

    const mathDisabledClass = disabled && isMathVariant(mathVariants, variant) && 'button_variant_math_disabled' 

    const visabilityClass = !visability && 'button_visability_hidden'

  button&attributes({
    class: [
      "button",
      'js-button',
      sizeClass,
      variantClass,
      mathDisabledClass,
      visabilityClass,
    ],
    type: type,
    disabled: disabled,
  })
    block

