mixin text(props = {})
  -
    const {
      h1="",
      h2="",
      h3="",
      text="",
      weight="bold",
      transform="",
      color='',
      minWidth=null,
      align="start",
      hoveringColor='',
      hovered=false,
    } = props

    const colors = [
      "darkest-gray", "dark-gray", "gray",
      "light-gray","lightest-gray",
      "primary", "secondary", 'white',
      ]
    const minWidths = ['50']
    const alignVariants = ['end']
    const weights = ["normal"]
    const transforms = ["uppercase", "capitalize"]

  -
    const weightClass = weights.includes(weight) && `text_weight_${weight}`
    const transformClass = transforms.includes(transform) && `text_transform_${transform}`
    const colorClass = colors.includes(color) && `text_color_${color}`
    const minWidthClass = minWidths.includes(minWidth) && `text_min-width_${minWidth}`
    const alignClass = alignVariants.includes(align) && `text_align_${align}`
    const hoveringColorClass = colors.includes(hoveringColor) && `text_hovering-color_${hoveringColor}`
    const hoveredClass = hovered && `text_color_${hoveringColor}`

    const classes = [
      'js-text', weightClass, transformClass, colorClass,
      minWidthClass, alignClass, hoveringColorClass, hoveredClass,
      ]

  if h1 !== ""
    h1.text(class=classes)= h1
  if h2 !== ""
    h2.text(class=classes)= h2
  if h3 !== ""
    h3.text(class=classes)= h3
  if text !== ""
    p.text(class=classes)= text
