mixin flex(props = {})
  -
    const {
      justify="start",
      align="start",
      direction="row",
      gap=undefined,
      width="100",
    } = props

    const gaps = ["20", "30", "40", "50",]
    const widths = ["59", "69",]
    const justifyVariants = ["start", "center", "end", "around"]

  -
    const justifyClass = justifyVariants.includes(justify) && `flex_justify_${justify}`

    const alignClass = align === "start" 
      ? "flex_align_start"
      : align === "center"
      ? "flex_align_center"
      : align === "end"
      ? "flex_align_end" : ""

    const directionClass = direction === "row" ? "flex_direction_row" : "flex_direction_column"
    const gapClass = gaps.includes(gap) && `flex_gap_${gap}`
    const widthClass = widths.includes(width) && `flex_width_${width}`

    const classes = [justifyClass, alignClass, directionClass, gapClass, widthClass]

  .flex(class=classes)
    block