mixin room-search-card(props={})
  -
    const {
      title="Найдём номера под ваши пожелания",
      formMethod="",
      formAction="needToAdd-page",
      dateDropdown={
        startTitle: 'прибытие',
        endTitle: 'выезд',
      },
      guestsDropdown={
        title: 'гости',
      },
      button={
        text: 'подобрать номер',
        name: 'submit',
      },
    } = props

  .room-search-card
    +card({
      variant: 'widget',
    })
      .room-search-card__title
        +text({
          h1: title,
        })
      form(method=`${formMethod}`, action=`./${formAction}.html`)
        +column({
          gap: '20',
        })
          .room-search-card__date-dropdown
            +date-dropdown(dateDropdown)
          .room-search-card__guests-dropdown
            +guests-dropdown(guestsDropdown)
          .room-search-card__button
            +big-arrow-button(button)
