mixin room-price(props={})
  -
    const {
      value='',
      text='',
      isSmall=false,
    }=props

    const priceText = value + "\u20BD"
    const roomPriceClass = isSmall && 'room-price_small'

  .room-price(class=roomPriceClass)
    +text({
      text: priceText,
      weight: 'bold',
      color: 'gray',
    })
    span.room-price__text #{text}
