mixin text-field(props = {})
  -
    const {
      type="text",
      placeholder="Email",
      value=undefined,
      size="biggest",
      variant="",
      isFocused=false,
      additionalClass='',
      radiusVariant='',
      ...otherProps
    } = props

    const classes = ['js-text-field', additionalClass]

  .text-field(class=classes)
    +form-wrapper({
    isFocused: isFocused,
    radiusVariant: radiusVariant,
    })
      +input({
        size: size,
        value: value,
        placeholder: placeholder,
        type: type,
        ...otherProps
      })
      block
      if variant === "subscribtion"
        +button()